/*!
Fluid UI Elements v3.0.0 Beta 5

Copyright (c) 2017-2018 jottocraft

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
 */

/*  THEME COLORS
Feel free to change these colors to fit your brand.
For the outline colors, convert the main colors to RGB and add ", 0.75" for RGBA opacity */
:root {
  --theme-color: #3396e6;
  --theme-color-outline: #3396e6C0;
  --theme-text-color: white;
}



/*

Fluid Elements

*/
body {
  transition: background-color 0.5s;
}
@font-face {
  font-family: 'Material Icons Outline';
  font-style: normal;
  font-weight: 400;
  src: url(outline.woff2) format('woff2');
}
body.outline .material-icons {
  font-family: 'Material Icons Outline';
}
.theme, body.outline .theme code {
  color: var(--theme-text-color) !important;
  background-color: var(--theme-color) !important;
}
body.nitro.dark {
  --flex-light: rgb(149, 14, 14);
  --flex-bg: rgb(127, 1, 1);
  --flex-text: white;
  --flex-layer1: rgb(129, 7, 7);
  --flex-layer2: rgb(104, 0, 0);
  --flex-layer3: #5c0101;
  --theme-color: rgb(243, 110, 110);
--theme-color-outline: rgb(243, 110, 110, 0.75);
--theme-text-color: rgb(104, 0, 0);
}
body.aquatic.dark {
  --flex-light: rgb(14, 149, 139);
    --flex-bg: rgb(1, 127, 127);
    --flex-text: white;
    --flex-layer1: rgb(7, 129, 115);
    --flex-layer2: rgb(0, 104, 101);
    --flex-layer3: #015c5a;
    --theme-color: #c6e7e2;
  --theme-color-outline: #c6e7e2c0;
  --theme-text-color: #0e958b;
}
body.midnight.dark {
	--flex-light: #0c0c0d;
    --flex-bg: #040404;
    --flex-text: #bfbfbf;
    --flex-layer1: #0c0c0c;
    --flex-layer2: #050606;
    --flex-layer3: #000000;
    --theme-color: #232323;
    --theme-color-outline: #171717c0;
    --theme-text-color: #c0c0c0;
}
body.darkRed {
        --flex-light: #da191e;
        --flex-bg: #ce0d12;
        --flex-text: white;
        --flex-layer1: #a70004;
        --flex-layer2: #8e0004;
        --flex-layer3: #740003;
        --theme-color: white;
        --theme-color-outline: #ffffffc0;
        --theme-text-color: #da191e;
    }
    body.darkOrange {
          --flex-light: #da7f19;
          --flex-bg: #ce730d;
          --flex-text: white;
          --flex-layer1: #a75900;
          --flex-layer2: #8e4b00;
          --flex-layer3: #743e00;
          --theme-color: white;
          --theme-color-outline: #ffffffc0;
          --theme-text-color: #da7f19;
      }
      body.darkYellow {
              --flex-light: #b69f19;
              --flex-bg: #aa930d;
              --flex-text: white;
              --flex-layer1: #837000;
              --flex-layer2: #6a5a00;
              --flex-layer3: #504500;
              --theme-color: white;
              --theme-color-outline: #ffffffc0;
              --theme-text-color: #b69f19;
          }
          body.darkGreen {
                  --flex-light: #4fbf19;
                  --flex-bg: #43b30d;
                  --flex-text: white;
                  --flex-layer1: #2e8c00;
                  --flex-layer2: #257300;
                  --flex-layer3: #1d5900;
                  --theme-color: white;
                  --theme-color-outline: #ffffffc0;
                  --theme-text-color: #4fbf19;
              }
              body.darkBlue {
                      --flex-light: #196eff;
                      --flex-bg: #0d62ff;
                      --flex-text: white;
                      --flex-layer1: #004cd8;
                      --flex-layer2: #0043bf;
                      --flex-layer3: #003aa5;
                      --theme-color: white;
                      --theme-color-outline: #ffffffc0;
                      --theme-text-color: #196eff;
                  }
                  body.darkPurple {
                          --flex-light: #be19ff;
                          --flex-bg: #b20df9;
                          --flex-text: white;
                          --flex-layer1: #9300d2;
                          --flex-layer2: #8100b9;
                          --flex-layer3: #6f009f;
                          --theme-color: white;
                          --theme-color-outline: #ffffffc0;
                          --theme-text-color: #be19ff;
                      }


/* Product Sans */
@font-face {
  font-family: 'Product sans';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url(https://fluid.js.org/product-sans.ttf) format('truetype');
}
@font-face {
  font-family: 'Google sans';
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  src: url(https://fluid.js.org/gsans.ttf) format('truetype');
}
html {
    font-family: "Google sans", sans-serif;
    font-weight: normal;
}
/* Little Caesar */
@font-face {
  font-family: 'Pizza Pizza';
  font-style: normal;
  font-weight: 400;
  src: url(https://fluid.js.org/caesar.ttf) format('truetype');
}
@font-face {
  font-family: 'Holiday';
  font-style: normal;
  font-weight: 400;
  src: url(holiday.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons Extended';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5 {
    font-family: "Product sans", sans-serif;
    font-weight: normal;
}
p, div, button, a, span, input, body, html, textarea {
  font-family: "Google sans", sans-serif;
  font-weight: normal;
}
p i {
  vertical-align: middle;
  font-size: 20px;
  margin: 0px 2px;
}
img.emoji {
  height: 1em;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}
.align {
  display: inline-block;
  vertical-align: middle;
}
.icotext i, .icotext span {
  display: inline-block;
  vertical-align: middle;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    opacity: 80px;
}


::-webkit-scrollbar-thumb {
    background: #707275;
    opacity: 90px;
    border-radius: 20px;
}

/*Page dark mode */
body { overflow-x: hidden; }
body.dark {
    background-color: var(--flex-bg, #2C2F33);
    color:var(--flex-text, #FFFFFF);
}
body:not(.dark) {
    background-color: var(--flex-bg, #FFFFFF);
    color:var(--flex-text, black);
}
body.litleceser,body.litleceser h1, body.litleceser h2, body.litleceser h3, body.litleceser h4, body.litleceser h5  {
  font-family: "Pizza Pizza", cursive;
}
body.litleceser {
  --flex-light: #ff6b00;
    --flex-bg: #f46600;
    --flex-text: white;
    --flex-layer1: #ce5601;
    --flex-layer2: #b34b01;
    --flex-layer3: #7a3402;
}

/* Sweetalert dark mode */
body.dark .swal-icon--success:after, body.dark .swal-icon--success:before, body.dark .swal-icon--success__hide-corners {
  background: var(--flex-layer1, #23272A) !important;
}
body.dark .swal-title, body.dark .swal-text {
  color: #FFF;
}
body.dark .swal-modal {
  background-color: var(--flex-layer1, #23272A);
}
/* Materialize dark theme patches */
body.dark table.striped > tbody > tr:nth-child(odd) {
    background-color: var(--flex-layer1, #23272A);
}
body:not(.dark) table.striped > tbody > tr:nth-child(odd) {
    background-color: var(--flex-layer2, #f2f2f2);
}

body:not(.dark) table.highlight > tbody > tr:hover {
    background-color: var(--flex-layer2, #f2f2f2);
}
body.dark table.highlight > tbody > tr:hover {
    background-color: var(--flex-layer1, #23272A);
}

body:not(.dark) .chip {
    color: rgba(0,0,0,0.6);
    background-color: #e4e4e4;
}
body.dark .chip {
    color: #FFFFFF;
    background-color: var(--flex-layer1, #23272A);
}
body:not(.dark) .collection .collection-item {
  background-color: #FFFFFF;
  border-bottom: 1px solid #e0e0e0;
  color: black;
}
body.dark .collection .collection-item {
  background-color:var(--flex-layer1, #23272A);
  border-bottom: 1px solid #161616;
  color: white;
}
body:not(.dark) .collection {
  border: 1.4px solid #e0e0e0
}
body.dark .collection {
  border: 1.4px solid #161616
}
body:not(.dark) .collection a.collection-item:not(.active):hover {
    background-color: #ddd
}
body.dark .collection a.collection-item:not(.active):hover {
    background-color: var(--flex-layer3, #16181a)
}
body:not(.dark) .collection.with-header .collection-header {
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
}
body.dark .collection.with-header .collection-header {
    background-color:var(--flex-layer1, #23272A);
    border-bottom: 1px solid #161616;
}
body:not(.dark) .page-footer {
    color: black;
    background-color: var(--flex-layer2, #f7f7f7);
}
body.dark .page-footer {
    color: white;
    background-color: var(--flex-layer1, #23272A);
}
body.dark .page-footer .footer-copyright {
  background-color: var(--flex-layer3, #16181a);
}
body:not(.dark) .page-footer .footer-copyright {
  background-color: #e0e0e0;
}
body:not(.dark) .pagination li:not(.active) a {
    color: #444;
}
body.dark .pagination li a {
    color: #FFFFFF;
}
.body:not(.dark) .collapsible-header {
    background-color: #fff;
    border-bottom: 1px solid #272728;
}
.body.dark .collapsible-header {
    background-color: var(--flex-layer1, #23272A);
    border-bottom: 1px solid #161616;
}
body:not(.dark) .dropdown-content {
background-color:#FFFFFF;
color: #000000;
}
body.dark .dropdown-content {
color: #FFFFFF;
background-color:var(--flex-layer1, #23272A);
}
body:not(.dark) .dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background-color: #eee
}

body:not(.dark) .dropdown-content li.active.selected {
    background-color: #e1e1e1
}
body.dark .dropdown-content li:hover, .dropdown-content li.active, .dropdown-content li.selected {
    background-color: var(--flex-layer3, #16181a)
}

body.dark .dropdown-content li.active.selected {
    background-color: var(--flex-layer3, #16181a)
}
body:not(.dark) .tap-target {
  background-color:var(--flex-layer2, #f2f2f2);
  color:black;
}
body.dark .tap-target {
  background-color:var(--flex-layer1, #23272A);
  color:white;
}
body:not(.dark)  .tap-target-wave::before, .tap-target-wave::after {
background-color: #FFFFFF;
}
body.dark  .tap-target-wave::before, .tap-target-wave::after {
background-color: var(--flex-layer3, #16181a);
}
body:not(.dark) .modal {
    background-color: #fafafa;
}
body.dark .modal {
    background-color: var(--flex-layer1, #23272A);
}
body:not(.dark) .side-nav {
  color:black;
  background-color: #FFFFFF;
}
body.dark .side-nav {
  color:white;
  background-color:var(--flex-layer1, #23272A);
}
body:not(.dark) .side-nav li.active, body:not(.dark) .side-nav li > a:hover {
    background-color: rgba(0,0,0,0.05)
}

body:not(.dark) .side-nav li > a {
    color: rgba(0,0,0,0.87);
}
body.dark .side-nav li.active, body.dark .side-nav li > a:hover {
    background-color: var(--flex-layer3, #16181a);
}

body.dark .side-nav li > a {
    color: #FFFFFF;
}

/* Buttons */
button:focus {outline:0;}
.btn {
  cursor: pointer;
    border: none;
    padding: 12px 30px;
    text-align: center;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: background-color 0.4s, box-shadow 0.4s, color 0.4s;
    user-select: none;
    vertical-align: middle;
    margin: 0px 5px;
  }
  .btn i {
    display: inline-block;
    vertical-align: middle;
    margin-top:-10px;
    margin-bottom:-7px;
    margin-right: 5px;
    line-height: inherit;
  }
  .switch {
    border-radius: 25px;
    display: inline-block;
    width: 50px;
    height: 25px;
    cursor: pointer;
    vertical-align: middle;
    transition: background-color 0.4s;
    box-shadow: none !important;
  }
  body.outline .switch:not(.active) .head {
    background-color: transparent !important;
  }
  .switch .head {
    transition: background-color 0.4s, box-shadow 0.4s, margin 0.4s;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 2.5px;
    position: absolute;
  }
  body.outline .switch:not(.active) .head {
    margin: 1.4px;
  }
  body.outline .switch.active .head {
    margin: 1.4px;
    margin-left: 25.5px;
  }
  .switch.active .head {
    margin-left: 27.5px;
    background-color: var(--theme-text-color);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.17);
  }
  .label {
    line-height: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 25px;
  }
  .list .item i {
    display: inline-block;
    vertical-align: middle;
    margin-top:-10px;
    margin-bottom:-10px;
    margin-right: 7px;
    line-height: inherit;
  }
  #activecontextmenu i.outOfContext {
    padding: 12px;
    border-radius: 30px;
    margin-top: -13px;
    margin-left: -13px;
  }
  body.dark:not(.outline) .btn:not(.active):hover {
    background-color: var(--flex-layer3, #16181a);
  }
  body:not(.dark).outline .btn:not(.active):hover {
    border: 1.4px solid var(--flex-text, #bababa);
  }
  body.dark.outline .btn:not(.active):hover {
    border: 1.4px solid #0d0e0f;
  }
  .btns .btn:not(.active):hover {
    box-shadow: none !important;
  }
  body:not(.dark):not(.outline) .btn:not(.active):hover {
    background-color: var(--flex-layer3, #dddddd);
  }
  body.dark:not(.outline) .btn:not(.active):hover {
    background-color: var(--flex-layer3, #16181a)
  }
  .row:not(.btns) .btn {
    margin-right: 10px;
  }
  body:not(.dark):not(.outline) .btn:not(.active), body:not(.dark):not(.outline) .btns.row, body:not(.dark):not(.outline) .switch:not(.active) {
  background-color: var(--flex-layer1, #efefef);
      color: #333333;
    }
    body:not(.dark).outline .btn:not(.active), body:not(.dark).outline  .switch:not(.active), body:not(.dark).outline  .switch:not(.active) .head {
    border: 1.4px solid var(--flex-layer3, #dddddd);
    background-color: inherit;
        color: #333333;
      }
    body.dark:not(.outline) .btn:not(.active), body.dark:not(.outline) .switch:not(.active), body.dark:not(.outline) .btns.row {
    background-color: var(--flex-layer1, #181b1d);
        color: white;
      }
      .btns.row .btn {
        margin: 0;
      }
      body.dark.outline .btn:not(.active), body.dark.outline .switch:not(.active), body.dark.outline  .switch:not(.active) .head {
        border: 1.4px solid #1f2123;
        background-color: inherit;
          color: white;
        }
    .btns .btn:not(.active) {
      background-color: transparent !important;
    }
    body.outline .btns .btn:not(.active) {
      border: 1.4px solid transparent !important;
    }
    body:not(.dark).outline .btns {
      border: 1.4px solid var(--flex-layer3, #dddddd);
      }
      body.dark.outline .btns {
        border: 1.4px solid #1f2123;
        }
        .btns {
          width:auto;
          display: inline-block;
          padding: 5px;
          border-radius: 25px;
          margin-left: 5px;
        }

  body:not(.outline) .btn.active, body:not(.outline) .switch.active, body:not(.outline) .btn.active:hover, body:not(.outline) .list .item.active, body:not(.outline) .list .item.active:hover {
  background-color: var(--theme-color);
      color: var(--theme-text-color);
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.17);
    }
    body.outline .btn.active, body.outline .switch.active, body.outline .btn.active:hover, body.outline .list .item.active, body.outline .list .item.active:hover {
    background-color: var(--theme-color-outline);
    border: 1.4px solid var(--theme-color);
        color: var(--theme-text-color);
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.17);
      }


body.dark .tabs .indicator {
    background-color: #FFFFFF;
}
body.dark .tabs .tab a:hover, body.dark .tabs .tab a.active, body.dark .tabs .tab a {
    color: #FFFFFF
}
body:not(.dark) .tabs .indicator {
    background-color: #000000;
}
body:not(.dark) .tabs .tab a:hover, body:not(.dark) .tabs .tab a.active, body:not(.dark) .tabs .tab a {
    color: #000000
}



/* Nav  */
.nav {
display: inline-block;
margin: 15px;
border-radius: 10px;
user-select: none;
}
.nav.right {
  float: right !important;
}
.card.nav {
  padding: 5px;
  max-width: 100%;
  margin: 0;
  text-align: center;
}
.card.nav li {
  border-radius: 22px;
  font-size: 20px;
  padding: 5px 10px;
  background-color: transparent !important;
  border: none !important;
}
.card.nav li i, .card.nav li span {
  vertical-align: middle;
}
.nav.sticky, .navbar.sticky {
  position: fixed;
  top: 0;
}
.nav.sticky.right {
  right: 0;
}
.nav.navbar h1,.nav.navbar h2,.nav.navbar h3,.nav.navbar h4,.nav.navbar h5 {
  float:left;
  display:inline-block;
  margin:0  !important;
  line-height: 55px !important;
}
.navbar.nav img {
  float:left;
  margin-right: 10px;
  height: 55px
}
.nav.navbar {
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.nav li {
  margin: 2px 7px;
  border-radius: 30px;
  transition: background-color 0.4s, box-shadow 0.4s, color 0.4s;
  cursor: pointer;
  padding: 12px;
}
.nav span {
  margin-left: 5px;
  vertical-align: middle;
}
.nav li i {
  display: inline-block;
  vertical-align: middle;
}
.card.withnav {
  padding: 0px;
  overflow: hidden;
}
.sidenav {
  width: 240px;
  height: 100%;
  display: inline-block;
  transition: background-color 0.4s;
  float:left;
}
.card.withnav .content {
  padding: 20px;
  padding-left: 260px;
}
.sidenav .title {
  padding: 20px;
  padding-top: 32px;
  height: 135px;
}
.sidenav .title h5 {
  font-size: 24px;
  height: 40px;
  margin: 0;
  line-height: 40px;
}
.sidenav .title p {
  margin: 0px;
}
.sidenav .item {
  cursor: pointer;
  transition: color 0.2s;
  height: 55px;
  line-height: 55px;
  padding-left: 25px;
}
.sidenav .item i {
  margin-right: 32px;
  vertical-align: middle;
}
body:not(.dark) .sidenav {
  background-color: var(--flex-layer2, #f2f2f2);
}
body:not(.dark) .sidenav .item:not(.active) {
  color: #7a7a7a;
}
body:not(.dark) .sidenav .item.active {
  color: black;
}
body.dark .sidenav {
  background-color: var(--flex-layer2, #1c2023);
}
body.dark .sidenav .item:not(.active) {
  color: #b2b2b2;
}
body.dark .sidenav .item.active {
  color: white;
}




.material-icons {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav:not(.card) ul {
  margin-top: 7px;
  margin-bottom: 0;
}
.nav.card ul {
  margin: 3px;
}
body.dark:not(.outline) .nav {
  border: 1.4px solid var(--flex-layer1, #23272A);
  background-color: var(--flex-layer1, #23272A);
}
body:not(.dark):not(.outline) .nav {
background-color: var(--flex-light, #fcfcfc);
}
body.dark.outline .nav {
  border: 1.4px solid #1f2123;
  box-shadow: none ;
  background-color: #2C2F33;
}
body:not(.dark).outline .nav {
  border: 1.4px solid var(--flex-layer3, #dddddd);
  box-shadow: none;
background-color: #FFFFFF;
}
body:not(.dark) .nav a {
  color:black;
}
.nav a i {
  font-size: 20px;
  margin:0
}
.nav {
  padding:10px;z-index:99;
}
.nav ul {
  white-space: nowrap;
  overflow: auto;
  list-style-type: none;padding:0
}
.nav ul li {
    display: inline-block;
}
body:not(.dark):not(.outline) .nav li:not(.active) {
  background-color: #ededed
}
body.dark:not(.outline) .nav li:not(.active) {
  background-color: #2c3135
}
body:not(.dark):not(.outline) .nav li.active {
  background-color: #4c4c4c;
  color: white;
}
body:not(.dark):not(.outline) .nav li.active span {
  color: white;
}
body.dark:not(.outline) .nav li.active {
  background-color: #ededed;
  color: black;
}

body:not(.dark).outline .nav li:not(.active) {
  border: 1.4px solid var(--flex-layer3, #dddddd)
}
body.dark.outline .nav li:not(.active) {
  border: 1.4px solid #1f2123
}
body:not(.dark).outline .nav li.active {
  background-color: rgb(76, 76, 76, 0.8);
  border: 1.4px solid #4c4c4c;
  color: white;
}
body:not(.dark).outline .nav li.active span {
  color: white;
}
body.dark .nav li.active {
  background-color: rgb(237, 237, 237, 0.8);
  border: 1.4px solid var(--flex-layer3, #dddddd);
  color: black;
}

body.dark .nav li.active span {
  color: black;
}
body:not(.dark) .nav li.active i {
  color: white;
}
body.dark .nav li.active i {
  color: black;
}
body.dark .nav a {
  color: var(--flex-text, #bababa) !important;
}



input:not([type=submit]):not([type=color]):not([type=file]):not([type=checkbox]):not([type=button]):not([type=radio]):not([type=reset]), textarea {
  width: 400px;
  margin-bottom: 30px;
  border-radius: 25px;
  padding-left:7px;
  padding-right:7px;
  opacity: 0.95;
  border: none;
  outline: none;
  height: 3rem;
  margin-bottom: 20px;
  transition: background-color 0.4s, box-shadow 0.3s, color 0.4s;
}
input:not([type=color]):not([type=submit]):not([type=file]):not([type=checkbox]):not([type=button]):not([type=radio]):not([type=reset]):not(.noshadow):focus, textarea:not(.noshadow):focus {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
textarea {
  padding:10px;
  overflow:hidden;
}
.white-text {
  color:white;
}
body:not(.dark):not(.outline) textarea, body:not(.dark):not(.outline) .fluid.element, body:not(.dark):not(.outline) input:not([type=color]):not([type=submit]):not([type=file]):not([type=checkbox]):not([type=button]):not([type=radio]):not([type=reset]) {
    background-color: var(--flex-layer1, #efefef);
    color: black;
}
body.dark:not(.outline) textarea, body.dark:not(.outline) .fluid.element, body.dark:not(.outline) input:not([type=color]):not([type=submit]):not([type=file]):not([type=checkbox]):not([type=button]):not([type=radio]):not([type=reset]) {
    background-color: var(--flex-layer1, #23272A);
    color: white;
}
body:not(.dark).outline textarea, body:not(.dark).outline .fluid.element, body:not(.dark).outline input:not([type=color]):not([type=submit]):not([type=file]):not([type=checkbox]):not([type=button]):not([type=radio]):not([type=reset]) {
    background-color:transparent;
    border: 1.4px solid var(--flex-layer3, #dddddd);
    color: black;
}
body.dark.outline textarea, body.dark.outline .fluid.element, body.dark.outline input:not([type=color]):not([type=submit]):not([type=file]):not([type=checkbox]):not([type=button]):not([type=radio]):not([type=reset]) {
    background-color:transparent;
    border: 1.4px solid #1f2123;
    color: white;
}
body:not(.dark) .chips {
    background-color:var(--flex-layer2, #f2f2f2);
    color: black;
}
body.dark .chips {
    background-color:var(--flex-layer1, #23272A);
    color: white;
}
.chips {
  text-align:left;
}


  /* Fluid Loader */
  .bubblingG {
      text-align: center;
      width: 250px;
      height: 156px;
      margin: auto;
  }

      .bubblingG span {
          display: inline-block;
          vertical-align: middle;
          width: 31px;
          height: 31px;
          margin: 78px auto;
          background: #00ff6a;
          border-radius: 156px;
          -o-border-radius: 156px;
          -ms-border-radius: 156px;
          -webkit-border-radius: 156px;
          -moz-border-radius: 156px;
          animation: bubblingG 0.975s infinite alternate;
          -o-animation: bubblingG 0.975s infinite alternate;
          -ms-animation: bubblingG 0.975s infinite alternate;
          -webkit-animation: bubblingG 0.975s infinite alternate;
          -moz-animation: bubblingG 0.975s infinite alternate;
      }

  #bubblingG_1 {
      animation-delay: 0s;
      -o-animation-delay: 0s;
      -ms-animation-delay: 0s;
      -webkit-animation-delay: 0s;
      -moz-animation-delay: 0s;
  }

  #bubblingG_2 {
      animation-delay: 0.2895s;
      -o-animation-delay: 0.2895s;
      -ms-animation-delay: 0.2895s;
      -webkit-animation-delay: 0.2895s;
      -moz-animation-delay: 0.2895s;
  }

  #bubblingG_3 {
      animation-delay: 0.589s;
      -o-animation-delay: 0.589s;
      -ms-animation-delay: 0.589s;
      -webkit-animation-delay: 0.589s;
      -moz-animation-delay: 0.589s;
  }



  @keyframes bubblingG {
      0% {
          width: 31px;
          height: 31px;
          background-color: #00ff6a;
          transform: translateY(0);
      }

      100% {
          width: 75px;
          height: 75px;
          opacity: 0;
          transform: translateY(-66px);
      }
  }

  @-o-keyframes bubblingG {
      0% {
          width: 31px;
          height: 31px;
          background-color: #00ff6a;
          -o-transform: translateY(0);
      }

      100% {
          width: 75px;
          height: 75px;
          opacity: 0;
          -o-transform: translateY(-66px);
      }
  }

  @-ms-keyframes bubblingG {
      0% {
          width: 31px;
          height: 31px;
          background-color: #00ff6a;
          -ms-transform: translateY(0);
      }

      100% {
          width: 75px;
          height: 75px;
          opacity: 0;
          -ms-transform: translateY(-66px);
      }
  }

  @-webkit-keyframes bubblingG {
      0% {
          width: 31px;
          height: 31px;
          background-color: #00ff6a;
          -webkit-transform: translateY(0);
      }

      100% {
          width: 75px;
          height: 75px;
          opacity: 0;
          -webkit-transform: translateY(-66px);
      }
  }

  @-moz-keyframes bubblingG {
      0% {
          width: 31px;
          height: 31px;
          background-color: #00ff6a;
          -moz-transform: translateY(0);
      }

      100% {
          width: 75px;
          height: 75px;
          opacity: 0;
          -moz-transform: translateY(-66px);
      }
  }

.hidden {
  display:none !important;
}

/* Sections */
.section {
  border-radius: 30px;
  margin-bottom: 15px;
  transition: background-color 0.4s !important;
}
.section.collapse .header, .section.collapse .header h1, .section.collapse .header h2, .section.collapse .header h3, .section.collapse .header h4, .section.collapse .header h5, .section.collapse .header h6  {
  transition: all 0.5s, color 0.4s !important;
}
.section.collapsed .header h1, .section.collapsed .header h2, .section.collapsed .header h3, .section.collapsed .header h4, .section.collapsed .header h5, .section.collapsed .header h6  {
  transition: all 0.5s, color 0.4s !important;
  font-size: 2.2rem;
  margin-left: 10px;
}
.section.collapsed .header  {
  padding: 10px !important;
}
.section.collapse .header {
  cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}
.section.collapse.collapsed .body {
  display: none;
}
body:not(.dark):not(.outline) .section {
  background-color:var(--flex-layer2, #f7f7f7);
}
body.dark:not(.outline) .section {
  background-color:var(--flex-layer2, #1c2023);
}
body:not(.dark).outline .section {
  border: 1.4px solid var(--flex-layer3, #dddddd);
}
body.dark.outline .section {
  border: 1.4px solid #1f2123;
}

.beta.notice {
  font-size: 20px;
  vertical-align: middle;
  border: 2px solid #ff7e00;
  color: #ff7e00;
  padding: 2px 4px;
  border-radius: 10px;
  display: inline-block;
  margin: 0 7px;
}
.section .header, .section.header {
  padding: 40px;
}
.section .header i, .section.header i {
  font-size: 32px;
  margin-left: 5px;
}
.section .body {
  padding: 60px;
  padding-top: 0px;
}

.section .header i {
  margin-right: 10px;
}
.section .header i, .section .header span, .section .header h1, .section .header h2, .section .header h3, .section .header h4, .section .header h5,
.section.header i, .section.header span, .section.header h1, .section.header h2, .section.header h3, .section.header h4, .section.header h5 {
  display: inline-block;
  vertical-align: middle;
}
.section .header, .section.header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* Splash Screens */
div.splash {
  display:none;
}

/* Cards */

.card, code, .list .item {
    /* Add shadows to create the "card" effect */
    transition: background-color 0.4s, background 0.4s, box-shadow 0.4s, color 0.4s;
    border-radius: 20px;
    z-index: 10;
}
.card {
    border-radius: 20px;
}
code, .list .item {
padding: 15px;
}
.card {
  padding: 30px;
}
.list:not(.contextmenu) {
  padding: 3px;
}
.card, code, .contextmenu {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.17);
}
.card.focus {
  position:absolute;
  max-height: calc(100% - 100px);
  overflow: auto;
}
code {
  display:block;
  font-family: monospace, monospace !important;
  font-size: 16px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) !important;
  overflow: auto;
}
code xmp {
  margin: 0;
}
/* contextmenus */
.contextmenu {
  position:absolute;
  width: 200px;
  display:none;
}
.contextmenu.list .item {
  white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px;
}
.contextmenu.active {
  display:inline-block;
}
body.outline .list .item:not(.active) {
  border: 1.4px solid transparent;
}
body:not(.dark):not(.outline) .list.contextmenu .item:not(.active):not(.disabled):hover {
  background-color: var(--flex-layer2, #f2f2f2);
}
body.dark:not(.outline) .list.contextmenu .item:not(.active):not(.disabled):hover {
  background-color: var(--flex-layer3, #1f2022);
}
body:not(.dark).outline .list.contextmenu .item:not(.active):not(.disabled):hover {
  border: 1.4px solid var(--flex-layer3, #dddddd);
}
body.dark.outline .list.contextmenu .item:not(.active):not(.disabled):hover {
  border: 1.4px solid #1f2022;
}
body:not(.dark) .list .item.disabled {
  filter: blur(0.5px);
  background-color: #e7e7e7;
}
body.dark .list .item.disabled {
  filter: blur(0.5px);
  background-color: #32373c;
}
.list:not(.contextmenu) {
  border-radius: 25px;
}
.list.contextmenu {
  border-radius: 20px;
}
.list .item {
  cursor: pointer;
}
.list:not(.contextmenu) .item {
  margin-top: 3px;
  margin-bottom: 3px;
}

.nav {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s !important;
}
.nav.toast {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
}

.card.close {
    display: none;
}


.darkText {
    color: #000000
}


.card:not(.focus){
    position: relative;
}

body.dark .card, body.dark:not(.outline) code, body.dark:not(.outline) .list {
  background-color:var(--flex-light, #25282b);
}
body:not(.dark) .card, body:not(.dark):not(.outline) code, body:not(.dark):not(.outline) .list {
  background-color:var(--flex-light, #fcfcfc);
}
body.dark.outline code, body.dark.outline .list {
  border: 1.4px solid #1f2123;
  box-shadow: none !important;
}
body:not(.dark).outline code, body:not(.dark).outline .list {
  border: 1.4px solid var(--flex-layer3, #dddddd);
  box-shadow: none !important;
}
body.dark.outline .list.contextmenu {
  border: none;
  background-color: var(--flex-light, #25282b);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.17) !important;
}
body:not(.dark).outline .list.contextmenu {
  border: none;
  background-color: #FFFFFF;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.17) !important;
}



.blur {
    filter: blur(20px);
}
.blur, .blur * {
  cursor: default !important;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome and Opera */
}
#pagewrapper {
  transition: -webkit-filter 0.3s !important;
}

.card.contextmenu {
  display:inline-block;
  padding: 8px;
}




/*

Fluid Core

R.I.P Materialize

*/


.container {
    margin: 0 auto;
    max-width: 1500px;
}

@media only screen and (min-width: 601px) {
    .container {
        width: 90%
    }
    .nav {
      max-width: calc(100% - 30px)
    }
    .fluid.logo {
      display:none;
    }
}
@media only screen and (max-width: 600px) {
    .section {
        border: none !important;
        background-color: transparent !important;
    }
    .section.header, .section .header, .section .body {
      padding: 10px !important;
    }
    input {
      width: 100% !important;
    }
    .btns.row .btn {
      display:block !important;
      width: 100% !important;
    }
    .btns.row {
      width: 100%;
    }
    #reldownload.fluid, #relspace.fluid {
      display: none;
    }
    .nav ul {
      text-align: center;
    }
    .nav li {
      margin: 0 3px;
    }
     body:not(.dark).outline .section {
      border: 1.4px solid var(--flex-layer3, #dddddd) !important;
    }
     body.dark.outline .section {
      border: 1.4px solid #1f2123 !important;
    }
    .section {
      margin-left: 3px;
      margin-right: 3px;
    }
    .fluid.logo {
      display:none;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 75%
    }
    .nav {
      max-width: 55%
    }
    .fluid.logo {
      display:inline-block;
    }
}

a {
    text-decoration: none;
    color: #039be5;
}
.center {
  text-align: center;
}
.left {
  float: left !important;
}
.right {
  float: right !important;
}
textarea {
  width: 100%;
  height: 50px;
  margin: 0;
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

.row {
  margin-bottom: 20px;

}
h1, h2, h3, h4, h5, h6 {
  line-height: 110%;
}
h1 {
    font-size: 4.2rem;
    margin: 2.1rem 0 1.68rem 0
}

h2 {
    font-size: 3.56rem;
    margin: 1.78rem 0 1.424rem 0
}

h3 {
    font-size: 2.92rem;
    margin: 1.46rem 0 1.168rem 0
}

h4 {
    font-size: 2.28rem;
    margin: 1.14rem 0 .912rem 0
}

h5 {
    font-size: 1.64rem;
    margin: .82rem 0 .656rem 0
}

h6 {
    font-size: 1rem;
    margin: .5rem 0 .4rem 0
}

body {
  margin:0;
}
* {
  -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
.divider {
  width: 100%;
  margin: 0 10px;
  background-color: #b2b2b2;
  height: 3px;
  border-radius: 100px;
}

.space {
 padding: 10px;
 display:inline-block;
 float: left;
 margin: 0px 3px;
}
.space.demo {
  padding: 5px 3px;
  border-radius: 10px;
  text-align:center;
}
.space.c1 {
  width: calc(10% - 6px);
}
.space.c2 {
  width: calc(20% - 6px);
}
.space.c3 {
  width: calc(30% - 6px);
}
.space.c4 {
  width: calc(40% - 6px);
}
.space.c5 {
  width: calc(50% - 6px);
}
.space.c6 {
  width: calc(60% - 6px);
}
.space.c7 {
  width: calc(70% - 6px);
}
.space.c8 {
  width: calc(80% - 6px);
}
.space.c9 {
  width: calc(90% - 6px);
}
.space.c10 {
  width: calc(100% - 6px);
}
