<!-- Fluid UI -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons+Extended" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="fluid.css" media="screen,projection"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="fluid.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.4.3/lottie.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
<script>if (window.module) module = window.module;</script>
<style>
.clock {
background-color: #f3f3f3;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
opacity: 0.75;
position: absolute;
right: 0;
bottom: 0;
margin: 20px;
border-radius: 50%;
width: 200px;
height: 200px;
}
body.dark .clock {
  background-color: #2b2b2b;
}
.clockNumbers {
position: absolute;
right: 0;
bottom: 0;
margin: 20px;
width: 200px;
width: 200px;
height: 200px;
font-size: 56px;
text-align: center;
line-height: 200px;
font-weight: bold;
}
.card.main {
width: 550px;
margin: 100px 0px 0px 100px;
}
.wicon, .PnFyad {
width: 100px;
height: 100px;
display: inline-block;
vertical-align: middle;
}
.card.main .text {
display: inline-block;
vertical-align: middle;
}
html, body {
  width: 100%;
  height:100%;
  overflow:hidden;
}

video {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden;
}
.spoticon {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
</style>
<script>
setInterval(function() {
now = new Date();
if (now.getHours() > 12) { hr = now.getHours() - 12; } else { hr = now.getHours(); }
if (now.getMinutes().toString().length < 2) { mn = "0" + now.getMinutes() } else { mn = now.getMinutes(); }
$(".clockNumbers").html(hr + `:` + mn)
}, 1000)
var WebSocketServer = require('websocket').server;
var http = require('http');
var musicTimeout = 0;
var server = http.createServer(function(request, response) {
    //console.log((new Date()) + ' Received request for ' + request.url);
	clearTimeout(musicTimeout);
    response.writeHead(200);
    response.end();
	var artist = decodeURI(request.url.split("/track/")[0].slice(1));
	var title = decodeURI(request.url.split("/track/")[1].split("?")[0]);
	if (title.includes(" - ")) { artist = title.split(" - ")[0]; title = title.split(" - ")[1]; }
	$(".scStuff h5").html(artist);
	$(".scStuff h4").html(title);
	$(".scStuff img").attr("src", request.url.split("?art=")[1]);
	$(".scStuff").show();
	musicTimeout = setTimeout(function() {
		$(".scStuff").hide();
	}, 2000);
});
server.listen(6839, function() {
    console.log((new Date()) + ' Server is listening on port 8080');
});
jQuery.fn.outerHTML = function() {
  return jQuery('<div />').append(this.eq(0).clone()).html();
};
$(document).ready(function() {
  setInterval(function() {
    if ($("body").hasClass("dark")) {
      if ($("#videoo").attr("src") !== "night.mov") { $("#videoo").attr("src", "night.mov"); $("#videoelm")[0].load(); }
    } else {
      if ($("#videoo").attr("src") !== "day.mov") { $("#videoo").attr("src", "day.mov"); $("#videoelm")[0].load(); }
    }
  }, 00)
})
function w() {
var request = require("request")
request("https://news.google.com/", function(err, response, htmll) {
html = htmll
$(".wIcon").html($(html).find(".PnFyad.BJkTTb").outerHTML());
$(".text h3").html($(html).find(".bDw0ac").text().charAt(0).toUpperCase() + $(html).find(".bDw0ac").text().slice(1))
$(".text h5").html($(html).find(".VjxR9 .m1PATc").text().slice(0, -1))
a = {
container: $(".PnFyad")[0],
data: JSON.parse($(".PnFyad").attr("data-n-ljd"))
}
b = lottie.loadAnimation({
                        wrapper: a.container,
                        loop: !1,
                        autoplay: !0,
                        renderer: "svg",
                        animationData: a.data,
                        rendererSettings: {
                            BM: !0,
                            className: "yXJMw"
                        }
                    });
					a.container.addEventListener("mouseenter", function() {
                        b.playSegments([0, b.totalFrames], !0)
                    })
});
}
w();
</script>
<body>
<div style="margin: 0;height: 0px;visibility: hidden;">do not delete this is to keep body height 100%</div>
<video id="videoelm" autoplay loop  muted plays-inline>
  <source id="videoo" src="day.mov">
</video>
<div onclick="require('electron').remote.getCurrentWindow().close()" class="clock"></div>
<div onclick="require('electron').remote.getCurrentWindow().close()" class="clockNumbers">
--
</div>
<div style="opacity: 0.8;" class="card main">
<div class="wIcon"></div>
<div class="text">
<h3></h3>
<h5></h5>
</div>
<div class="scStuff" style="display: none;">
<br /><br /><br />
<img src="https://tp.js.org/icons/sq_icon.png" style="vertical-align:middle;margin-right: 10px;" class="spoticon" />
<div style="display: inline-block; vertical-align: middle;white-space: nowrap; max-width: calc(100% - 120px)">
<h4 style="margin-top: 5px; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;font-size: 24px;">Loading...</h4>
<h5 style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; font-size: 16px; color: gray;">Loading...</h5>
</div>
</div>
</div>
</body>
